---
import { Image } from "astro:assets";
import react from "../../images/react.svg";
import next from "../../images/next.svg";
import typescript from "../../images/typescript.svg";
import tailwind from "../../images/tailwind.svg";
---

<section id="about">
  <div class="about-text col">
    <h2 class="section-title">About me</h2>
    <p>
      As a self-taught front-end developer, I leverage my background in
      philosophy to bring a unique perspective to web development. My academic
      training honed my analytical and problem-solving skills, allowing me to
      write clean, performant code that tackles complex challenges. Outside of
      coding, I cultivate my creativity through writing, crocheting, and a
      fascination with design and architecture. This blend fosters an approach
      that prioritizes not just functionality, but also user experience and
      visual appeal. I specialise in:
    </p>
    <ul class="specialties">
      <li>
        Responsive, mobile-first web design, be it with vanilla CSS or Tailwind
        CSS
      </li>
      <li>
        TypeScript, from essentials such as generic types to advanced matters
        such as generic constraints
      </li>
      <li>
        Next.js and performant React that leverages all React ^18.0 has to offer
      </li>
    </ul>
    <p>
      I'm a dedicated learner, continuously expanding my skillset and seeking
      opportunities to collaborate on impactful web projects. Let's build
      something great together!
    </p>
  </div>
  <div class="tech-icons">
    <div class="tech-icons-circle">
      <Image
        src={react}
        class="icon"
        alt="React icon"
        title="React"
        widths={[50, 100]}
        sizes="(max-width: 700px) 50px, 100px"
        width="100"
        format="webp"
        loading="lazy"
      />
      <Image
        src={next}
        class="icon"
        alt="Next.js icon"
        title="Next.js"
        widths={[50, 100]}
        sizes="(max-width: 700px) 50px, 100px"
        width="100"
        format="webp"
        loading="lazy"
      />
      <Image
        src={typescript}
        class="icon"
        alt="TypeScript icon"
        title="TypeScript"
        widths={[50, 100]}
        sizes="(max-width: 700px) 50px, 100px"
        width="100"
        format="webp"
        loading="lazy"
      />
      <Image
        src={tailwind}
        class="icon"
        alt="Tailwind CSS icon"
        title="Tailwind CSS"
        widths={[50, 100]}
        sizes="(max-width: 700px) 50px, 100px"
        width="100"
        format="webp"
        loading="lazy"
      />
    </div>
  </div>
</section>

<style>
  .specialties {
    list-style-type: square;
  }

  .icon {
    width: 6rem;
    max-width: 90px;
    max-height: 90px;
    filter: drop-shadow(10px 10px 4px rgb(89, 89, 89));
    animation: maintain 20s linear infinite;
  }

  .col,
  .tech-icons {
    opacity: 0;
  }

  .tech-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
  }

  .tech-icons-circle {
    width: 20rem;
    height: 20rem;
    max-width: 250px;
    max-height: 250px;
    position: relative;
    flex-shrink: 0;
    border: solid #19150a 1px;
    border-radius: 50%;
    -webkit-animation: spin-right 20s linear infinite;
    animation: spin-right 20s linear infinite;
  }

  .icon:nth-of-type(1) {
    position: absolute;
    top: -18%;
    left: 35%;
  }

  .icon:nth-of-type(2) {
    position: absolute;
    top: 35%;
    left: -18%;
  }

  .icon:nth-of-type(3) {
    position: absolute;
    top: 35%;
    right: -18%;
  }

  .icon:nth-of-type(4) {
    position: absolute;
    bottom: -12%;
    left: 35%;
  }

  @keyframes maintain {
    0% {
      transform: rotate(0);
    }

    100% {
      transform: rotate(-360deg);
    }
  }

  @-webkit-keyframes spin-right {
    100% {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @media screen and (max-width: 1300px) {
    .tech-icons {
      margin-top: 100px;
    }
  }

  @media screen and (max-width: 700px) {
    .col,
    .tech-icons {
      opacity: 1;
    }

    .icon {
      max-width: 50px;
      max-height: 50px;
    }

    .tech-icons {
      margin-top: 60px;
      width: 100%;
    }

    .tech-icons-circle {
      max-width: 150px;
      max-height: 150px;
    }
  }
</style>

<script>
  const section = document.querySelector("#about");
  const col = section?.querySelector(".col");
  const techIcons = section?.querySelector(".tech-icons");

  if (section && col && techIcons && window.innerWidth > 700) {
    const timeouts: { [id: number]: number } = {};
    const observer = new IntersectionObserver(
      ([entry]) => {
        if (entry.isIntersecting) {
          col.classList.add("slide-right");
          techIcons.classList.add("fade-in", "delay-600");
        }
      },
      {
        threshold: 0.6,
      }
    );
    observer.observe(section);
  }
</script>
