---
import Layout from "../layouts/Layout.astro";
import SectionNav from "../components/SectionNav.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Projects from "../components/Projects.astro";
import Form from "../components/Form.astro";
---

<Layout title="Monika Dybalska">
  <main>
    <SectionNav />
    <Hero />
    <About />
    <Projects />
    <Form />
  </main>
</Layout>
