---
import Anchor from "./Anchor.astro";

interface Props {
  title: string;
  image: string;
  description: string;
  label?: string;
}

const { title, image, description, label } = Astro.props;
---

<div class="card-container">
  <div class="card">
    <div class="card-title">
      <h3>{title}</h3>
      {label && <p class="label">{label}</p>}
    </div>
    <img src={image} class="card-image" />
    <p>{description}</p>
    <Anchor text="Read details" href="" variant="text" />
  </div>
</div>
