---
import Button from "./Button.astro";
---

<section id="contact" class="homepage-section">
  <div class="section-content cols">
    <div class="section-text form-text">
      <h2>Get in touch</h2>
      <p>Got a question or a project idea? Let's talk!</p>
    </div>
    <div class="section-text success hidden">
      <h2>Thank you!</h2>
      <p>Your form has been submitted. I'll be in touch soon!</p>
    </div>
    <form name="contact" method="POST" data-netlify="true">
      <label for="name">Your name</label>
      <input type="text" id="name" name="name" class="form-field" required />
      <label for="email">Your email</label>
      <input type="email" id="email" name="email" class="form-field" required />
      <label for="message">Your message</label>
      <textarea id="message" name="message" class="form-field" rows="8"
      ></textarea>
      <div class="button-row">
        <Button text="Contact me" variant="primary" type="submit" />
      </div>
    </form>
    <div class="section-text error hidden">
      <p>There was an error submitting the form. Please try again.</p>
    </div>
  </div>
</section>

<style>
  .section-content.cols {
    align-items: center;
  }

  .section-text {
    align-items: center;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 660px;
  }

  .form-field {
    margin-bottom: 1rem;
    background-color: transparent;
    border: black solid 1px;
    font-family: "Drogowskaz";
    font-size: 1rem;
    max-width: 660px;
  }

  .button-row {
    display: flex;
    justify-content: center;
  }

  input:focus,
  textarea:focus {
    box-shadow: 0 0 0.5rem 0.1rem rgb(97, 218, 251, 1);
    outline: none;
  }

  .error {
    margin-top: 1.5rem;
  }

  .hidden {
    display: none;
  }
</style>

<script>
  const handleSubmit = (event: SubmitEvent) => {
    event.preventDefault();

    const form = event.target as HTMLFormElement;
    const formText = document.querySelector(".form-text");
    const formData = new FormData(form);

    fetch("/", {
      method: "POST",
      headers: { "Content-Type": "application/x-www-form-urlencoded" },
      // @ts-expect-error: TS bug
      body: new URLSearchParams(formData).toString(),
    })
      .then(() => {
        const success = document.querySelector(".success");
        formText?.classList.add("hidden");
        form.classList.add("hidden");
        success?.classList.remove("hidden");
      })
      .catch((error) => {
        const errorText = document.querySelector(".error");
        const p = document.createElement("p");
        p.innerText = error.message;
        errorText?.appendChild(p);
        errorText?.classList.remove("hidden");
      });
  };

  document.querySelector("form")?.addEventListener("submit", handleSubmit);
</script>
