---
import Logo from "./Logo.astro";
---

<header>
  <div class="header-content">
    <button class="skip"> Skip to navigation</button>
    <Logo />
  </div>
</header>

<style>
  header {
    display: flex;
    height: fit-content;
    justify-content: center;
    padding-top: 5rem;
    align-items: start;
    width: 100%;
  }

  .header-content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .skip {
    height: fit-content;
    width: fit-content;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    transition: all 400ms;
    text-transform: uppercase;
    font-family: "Drogowskaz";
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 0;
    cursor: pointer;
    box-sizing: border-box;
    background-color: transparent;
    color: #19150a;
    border: solid #19150a;
    opacity: 0;
  }

  .skip:focus {
    opacity: 1;
  }

  @media screen and (max-width: 1300px) {
    header {
      padding: 1rem 5rem 1rem 5rem;
      align-items: center;
      justify-content: space-between;
    }

    .header-content {
      padding: 0;
    }
  }

  @media screen and (max-width: 700px) {
    header {
      padding: 1rem 2rem 1rem 2rem;
      align-items: center;
    }

    .header-content {
      flex-direction: row;
    }

    .skip {
      display: none;
    }
  }
</style>

<script>
  const button = document.querySelector(".skip");
  button?.addEventListener("click", (e) => {
    e.preventDefault();

    const nav = document.querySelector(".nav-bullet") as HTMLElement;

    if (nav) {
      nav.scrollIntoView();
      nav.focus();
    }
  });
</script>
