---
import Anchor from "./Anchor.astro";
---

<section class="hero">
  <div class="section-content">
    <div class="section-text">
      <p>Hi there, my name is</p>
      <h1>Monika Dybalska</h1>
      <p class="subtitle">
        I like building performant, user-friendly websites and applications.
      </p>
      <div class="hero-links">
        <Anchor
          text="Download CV"
          href="cv-monika-dybalska.pdf"
          variant="primary"
        />
        <a href="https://github.com/monikadybalska"
          ><img src="github.svg" class="socials" /></a
        >
        <a href="https://www.linkedin.com/in/monika-dybalska/"
          ><img src="linkedin.png" class="socials" /></a
        >
      </div>
    </div>
    <img src="/monika.png" class="hero-image" />
  </div>
</section>
