---
import Anchor from "./Anchor.astro";
---

<section id="intro" class="homepage-section">
  <div class="section-content">
    <div class="section-text">
      <p>Hi there, my name is</p>
      <h1>Monika Dybalska</h1>
      <p class="subtitle">
        I'm a frontend developer with a passion for building <span class="glow"
          >unique</span
        >, <span class="glow">user-centric</span>, and <span class="glow"
          >performant</span
        > websites and applications.
      </p>
      <Anchor
        href="/cv-monika-dybalska.pdf"
        text="Download Resume"
        variant="primary"
      />
    </div>
    <img src="/monika.png" class="hero-image" />
  </div>
</section>

<style>
  p {
    font-size: 1.5rem;
  }

  .subtitle {
    margin-bottom: 20px;
    font-size: 2rem;
  }

  .glow {
    text-shadow: #61dafb 1px 0 10px;
  }

  .hero-image {
    border-radius: 50%;
    width: 300px;
    border: solid black 1px;
  }

  .hero-links {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .socials {
    height: 40px;
    align-self: center;
  }

  @media screen and (max-width: 700px) {
    .hero-image {
      width: 200px;
    }

    .subtitle {
      font-size: 1.5rem;
    }
  }
</style>
