---
import Anchor from "./Anchor.astro";
import { Image } from "astro:assets";
import monikadybalska from "../images/monikadybalska.jpg";
---

<section id="intro" class="homepage-section">
  <!-- <div class="section-content"> -->
  <div class="section-text">
    <p>Hi there, my name is</p>
    <h1>Monika Dybalska</h1>
    <p class="subtitle">
      I'm a frontend developer with a passion for building <span class="glow"
        >unique</span
      >, <span class="glow">user-centric</span>, and <span class="glow"
        >performant</span
      > websites and applications.
    </p>
    <Anchor
      href="/cv-monika-dybalska.pdf"
      text="Download Resume"
      variant="primary"
    />
  </div>
  <div class="hero-image-container">
    <div class="diamond">
      <Image
        src={monikadybalska}
        alt="Headshot of Monika Dybalska"
        widths={[200, 500]}
        sizes="(max-width: 700px) 200px, 500px"
        width="300"
        format="webp"
        loading="lazy"
        class="hero-image"
      />
    </div>
  </div>
</section>

<style>
  p {
    font-size: 1.5rem;
  }

  .subtitle {
    margin-bottom: 20px;
    font-size: 2rem;
  }

  .glow {
    text-shadow: #61dafb 1px 0 10px;
  }

  .hero-image-container {
    width: 300px;
    height: 300px;
    display: flex;
    overflow: clip;
    align-items: center;
    justify-content: center;
    position: relative;
  }

  .diamond {
    width: 200px;
    height: 200px;
    overflow: clip;
    rotate: 45deg;
    border: solid black 1px;
  }

  .hero-image {
    rotate: -45deg;
    position: fixed;
    top: -70px;
  }

  .hero-links {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .socials {
    height: 40px;
    align-self: center;
  }

  @media screen and (max-width: 700px) {
    .hero-image-container {
      width: 250px;
      height: 250px;
    }

    .diamond {
      width: 150px;
      height: 150px;
    }

    .subtitle {
      font-size: 1.5rem;
    }
  }
</style>
