<a href="/">MD</a>

<style>
  a {
    font-family: "Zaklad";
    letter-spacing: -1rem;
    text-shadow: #61dafb 1px 0 10px;
    text-decoration: none;
    font-size: 50px;
    line-height: 50px;
  }
</style>
