<header>
    <!-- <div>
        <h1>Monika Dybalska</h1>
        <p>React and Next.js Developer</p>
    </div> -->
    <nav>
        <a href="/" class="navlink">Home</a>
        <a href="/" class="navlink">About</a>
        <a href="/" class="navlink">Projects</a>
        <a href="/" class="navlink">Blog</a>
    </nav>
</header>