<header>
  <p class="logo">MD</p>
  <nav>
    <a href="/" class="navlink">Home</a>
    <a href="/" class="navlink">About</a>
    <a href="/" class="navlink">Projects</a>
    <a href="/" class="navlink">Contact</a>
  </nav>
</header>

<style>
  header {
    display: none;
    justify-content: space-between;
    position: sticky;
    background-color: black;
    top: 0;
    z-index: 50;
  }

  .logo {
    font-family: "Zaklad";
    color: #61dafb;
  }

  nav {
    display: flex;
    align-items: center;
  }

  .navlink {
    text-transform: uppercase;
    padding: 0 1rem 0 0;
    color: #61dafb;
  }

  .navlink:last-of-type {
    text-transform: uppercase;
    padding: 0;
  }

  @media screen and (max-width: 1300px) {
    header {
      display: flex;
    }
  }
</style>
