---
import Card from "./Card.astro";
import patronitedbthumbnail from "../images/patronitedb-thumbnail.jpg";
import visitjerichothumbnail from "../images/visitjericho-thumbnail.jpg";
---

<section id="projects" class="cols">
  <h2 class="section-title">Projects</h2>
  <div class="cards">
    <Card
      href="projects/patronitedb"
      image={{
        src: patronitedbthumbnail,
        alt: "Screenshot of the PatroniteDB homepage",
      }}
      tags={["Tanstack Query", "Docker", "Amazon ECS"]}
      label="Latest"
    >
      <h3 slot="title">PatroniteDB</h3>
      <p slot="description" class="description">
        A sortable, filtered database of Patronite authors and subscriptions
      </p>
    </Card>
    <Card
      href="projects/visitjericho"
      image={{
        src: visitjerichothumbnail,
        alt: "Screenshot of the Visit Jericho homepage",
      }}
      tags={["Next.js", "Tailwind CSS", "GraphQL"]}
    >
      <h3 slot="title">Visit Jericho</h3>
      <p slot="description" class="description">
        A travel guide website for a non-profit project with Tech To The Rescue
      </p>
    </Card>
  </div>
</section>

<style>
  .cards {
    display: flex;
    width: 100%;
    gap: 30px;
  }

  .section-title {
    width: 100%;
    text-align: start;
    opacity: 0;
  }

  .description {
    flex-grow: 2;
  }

  @media screen and (max-width: 700px) {
    .section-title {
      opacity: 1;
    }

    .cards {
      flex-direction: column;
    }
  }
</style>

<script>
  const section = document.querySelector("#projects");
  const sectionTitle = section?.querySelector(".section-title");
  const cards = section?.querySelector(".cards")?.children;

  if (section && sectionTitle && cards && window.innerWidth > 700) {
    const timeouts: { [id: number]: number } = {};
    const observer = new IntersectionObserver(
      ([entry]) => {
        if (entry.isIntersecting) {
          sectionTitle.classList.add("fade-in");
          cards[0].classList.add("slide-right", "delay-600");
          cards[1].classList.add("slide-to-right", "delay-600");
        }
      },
      {
        threshold: 0.6,
      }
    );
    observer.observe(section);
  }
</script>
