---
import Card from "./Card.astro";
---

<section id="projects" class="homepage-section">
  <div class="section-content cols">
    <h2 class="section-title">Projects</h2>
    <div class="cards">
      <Card
        image="patronitedb.jpg"
        tags={["Tanstack Query", "Tanstack Router", "Material UI"]}
        label="Coming soon"
      >
        <h3 slot="title">PatroniteDB</h3>
        <p slot="description" class="description">
          A sortable, filtered database of Patronite authors and subscriptions
        </p>
      </Card>
      <Card
        href="projects/visitjericho"
        image="visitjerichothumbnail.jpg"
        tags={["Next.js", "Tailwind CSS", "GraphQL"]}
        label="Latest"
      >
        <h3 slot="title">Visit Jericho</h3>
        <p slot="description" class="description">
          A travel guide website for a non-profit project with Tech To The
          Rescue
        </p>
      </Card>
    </div>
  </div>

  <style>
    .cards {
      margin-top: 30px;
      display: flex;
      width: 100%;
      gap: 30px;
    }

    .section-title {
      width: 100%;
      text-align: start;
    }

    .description {
      flex-grow: 2;
    }

    @media screen and (max-width: 1300px) {
      .cards {
        flex-direction: column;
      }
    }
  </style>
</section>
