---
import Card from "./Card.astro";
---

<section id="projects">
  <div class="section-content cols">
    <h2 class="section-title">Projects</h2>
    <div class="cards">
      <Card
        title="PatroniteDB"
        image="patronitedb.jpg"
        description="A sortable, filtered database of Patronite authors and subscriptions"
        label="Coming soon"
      />
      <Card
        title="Visit Jericho"
        image="visitjericho.jpg"
        description="A travel guide website for a non-profit project with Tech To The Rescue"
        label="Latest"
      />
    </div>
  </div>
</section>
