---
import Card from "./Card.astro";
---

<section id="projects" class="homepage-section">
  <div class="section-content cols">
    <h2 class="section-title">Projects</h2>
    <div class="cards">
      <Card
        title="PatroniteDB"
        image="patronitedb.jpg"
        description="A sortable, filtered database of Patronite authors and subscriptions"
        label="Coming soon"
      />
      <Card
        title="Visit Jericho"
        image="visitjericho.jpg"
        description="A travel guide website for a non-profit project with Tech To The Rescue"
        label="Latest"
      />
    </div>
  </div>
</section>

<style>
  .cards {
    margin-top: 30px;
    display: flex;
    width: 100%;
    gap: 30px;
  }

  @media screen and (max-width: 700px) {
    .cards {
      flex-direction: column;
    }
  }
</style>
