<nav class="section-nav">
  <ul class="nav-bullets">
    <li>
      <div class="nav-label">Intro</div><button class="nav-bullet selected"
      ></button>
    </li>
    <li>
      <div class="nav-label">About</div><button class="nav-bullet"></button>
    </li>
    <li>
      <div class="nav-label">Projects</div><button class="nav-bullet"></button>
    </li>
    <li>
      <div class="nav-label">Contact</div><button class="nav-bullet"></button>
    </li>
  </ul>
</nav>

<style>
  .section-nav {
    position: fixed;
    right: 0;
    top: 40%;
    width: max-content;
    float: right;
  }

  .nav-bullets {
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding: 10px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .nav-bullets li {
    width: fit-content;
    position: relative;
  }

  .nav-label {
    position: absolute;
    right: 50%;
    bottom: 0;
    display: flex;
    align-items: center;
    background-color: #61dafb;
    color: black;
    border: 1px solid black;
    border-radius: 1rem 0 0 1rem;
    height: 30px;
    box-sizing: border-box;
    vertical-align: middle;
    text-transform: uppercase;
    max-width: 0%;
    padding: 0;
    transition: all 1s;
    overflow: hidden;
  }

  .nav-label.hovered {
    max-width: 100px;
    right: 70%;
    padding: 0.2rem 1.5rem 0.2rem 0.5rem;
  }

  .nav-bullet {
    background-color: black;
    width: 30px;
    height: 30px;
    padding: 0;
    border: 1px solid black;
    transform: rotate(45deg);
    cursor: pointer;
    transition: transform 0.2s 100ms;
    transition-delay: 100ms;
    box-sizing: border-box;
  }

  .nav-bullet.selected {
    background-color: #61dafb;
    transform: rotate(90deg);
  }

  @media screen and (max-width: 1300px) {
    .section-nav {
      display: none;
    }
  }
</style>

<script>
  const sections = document.querySelectorAll("section");
  const buttons = document.querySelectorAll(".nav-bullet");
  const labels = document.querySelectorAll(".nav-label");

  const handleButtonClick = function (
    currentButton: Element,
    currentSection: HTMLElement
  ) {
    currentSection.scrollIntoView({ behavior: "smooth" });
    handleButtonChange(currentButton);
  };

  const handleButtonHover = function (
    currentButton: Element,
    currentLabel: Element
  ) {
    currentLabel.classList.add("hovered");
    currentButton.addEventListener("mouseleave", () => {
      currentLabel.classList.remove("hovered");
    });
  };

  const handleButtonChange = function (currentButton: Element) {
    buttons.forEach((button) => {
      if (button !== currentButton) {
        button.classList.remove("selected");
      }
    });
    currentButton.classList.add("selected");
  };

  for (let i = 0; i < buttons.length; i++) {
    buttons[i].addEventListener("click", () => {
      handleButtonClick(buttons[i], sections[i]);
    });

    buttons[i].addEventListener("mouseover", () => {
      handleButtonHover(buttons[i], labels[i]);
    });
  }

  const timeouts: { [id: number]: number } = {};
  for (let i = 0; i < sections.length; i++) {
    const observer = new IntersectionObserver(
      ([entry]) => {
        if (entry.isIntersecting) {
          timeouts[i] = setTimeout(() => handleButtonChange(buttons[i]), 300);
        } else {
          clearTimeout(timeouts[i]);
        }
      },
      {
        threshold: 0.8,
      }
    );
    observer.observe(sections[i]);
  }
</script>
