---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Card from "../../components/Card.astro";
import Anchor from "../../components/Anchor.astro";
---

<BaseLayout title="Monika Dybalska">
  <main>
    <div>
      <h1>Visit Jericho</h1>
      <p class="label">Beta</p>
    </div>
    <section class="cols">
      <div class="col">
        <p>
          Visit Jericho is a travel guide website for the city of Jericho,
          developed on the request of the non-governmental organisation Mosaic
          Centre Jericho. I designed and built this website from scratch with
          Figma, Next.js, GraphQL, and WordPress.
        </p>
        <div class="summary-sections">
          <Card variant="outlined">
            <h2 slot="title" class="card-title">Stack</h2>
            <ul slot="description">
              <li class="nextjs">Next.js</li>
              <li class="tailwindcss">Tailwind CSS</li>
              <li class="graphql">GraphQL</li>
            </ul>
          </Card>
          <Card variant="outlined">
            <h2 slot="title" class="card-title">Categories</h2>
            <ul slot="description">
              <li>Non-profit</li>
              <li>Web deveopment</li>
              <li>Web design</li>
            </ul>
          </Card>
        </div>
        <Anchor
          text="See live site"
          href="https://beta.visitjericho.com"
          variant="primary"
        />
      </div>
      <img src="/visitjerichothumbnail.jpg" class="main-image" />
    </section>
    <section>
      <h2>Background and goals</h2>
      <p>
        For the past two months, I have collaborated with Tech To the Rescue a
        website to promote the city of Jericho for a non-governmental
        organisation Mosaic Centre Jericho. With the project being both
        non-profit and me being a relative beginner in frontend development, I
        found the task of choosing the right tech stack both rewarding and
        fairly challenging. We knew what it needed to be and what it needed to
        have:
      </p>
      <ul>
        <li>
          Fast, performant, and SEO-optimised to provide the best user
          experience
        </li>
        <li>Headless CMS for the best performance and flexibility</li>
        <li>
          WordPress integration to allow the organisation to easily update the
          website in their familiar WordPress environment
        </li>
      </ul>
    </section>
    <section>
      <h2>Tech stack</h2>
      <div class="cols">
        <div>
          <div class="tech-stack-category">
            <h3>Frontend</h3>
            <img src="/nextjs-white.svg" alt="Next.js logo" class="logo" />
          </div>
          <div class="tech-stack-category">
            <h3>Styling</h3>
            <img
              src="/tailwindcss-white.svg"
              alt="TailwindCSS logo"
              class="logo"
            />
          </div>
          <div class="tech-stack-category">
            <h3>Data</h3>
            <img
              src="/graphql-white.svg"
              alt="GraphQL logo"
              class="logo small"
            />
          </div>
          <div class="tech-stack-category">
            <h3>Testing</h3>
            <div>
              <img src="/jest.svg" alt="Jest logo" class="logo small" />
              <img
                src="/playwright.svg"
                alt="Playwright logo"
                class="logo small"
              />
            </div>
          </div>
          <div class="tech-stack-category">
            <h3>CI/CD</h3>
            <img src="/github-white.png" alt="GitHub logo" class="logo small" />
          </div>
          <div class="tech-stack-category">
            <h3>Deployment</h3>
            <img src="/netlify.svg" alt="Netlify logo" class="logo small" />
          </div>
          <div class="tech-stack-category">
            <h3>Media optimisation</h3>
            <div>
              <img
                src="/aws-white.svg"
                alt="AWS Cloud logo"
                class="logo-icon"
              />
              <img
                src="/cloudfront.svg"
                alt="Amazon Cloudfront logo"
                class="logo-icon"
              />
              <img src="/s3.svg" alt="Amazon S3 logo" class="logo-icon" />
            </div>
          </div>
          <div class="tech-stack-category">
            <h3>Hosting</h3>
            <div>
              <img
                src="/aws-white.svg"
                alt="AWS Cloud logo"
                class="logo-icon"
              />
              <img
                src="/lightsail.svg"
                alt="Amazon Lightsail logo"
                class="logo-icon"
              />
            </div>
          </div>
        </div>
        <p class="col">
          With the Next.js App Router, I was able to take full advantage of
          React's latest rendering features, optimise performance, and implement
          good SEO practices. Tailwind CSS made styling both quick and
          consistent and worked seamlessly with component libraries such as
          Material Tailwind or Radix UI. GraphQL made it possible to fetch data
          from the WordPress CMS — one of our key requirements.
        </p>
      </div>
    </section>
    <section>
      <h2>Challenges</h2>
      <div class="cols">
        <p class="col">
          There were two areas that proved the most challenging: organising the
          code and integrating different technologies, some of which not
          necessarily designed to work well with the others.
        </p>
        <div></div>
      </div>
    </section>
  </main>
</BaseLayout>

<style>
  main {
    padding: 5rem 15rem 5rem 15rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    min-height: fit-content;
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  h2 {
    width: 100%;
    text-align: center;
    font-size: 2rem;
  }

  .cols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
  }

  .col {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .label {
    font-size: 1rem;
  }

  .summary-sections {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .card-title {
    font-family: "Drogowskaz";
    font-size: 1.17rem;
    text-align: center;
    width: 100%;
  }

  ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: fit-content;
  }

  li {
    list-style-type: square;
    list-style-position: inside;
  }

  .main-image {
    border: solid black 1px;
    max-width: 100%;
    box-sizing: border-box;
  }

  .icon {
    width: 6rem;
    max-width: 100px;
    filter: drop-shadow(10px 10px 4px rgb(89, 89, 89));
  }

  .tech-stack-category {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 0.5rem;
    border: 1px solid #61dafb;
  }

  .logo {
    max-height: 15px;
    height: 2rem;
  }

  .logo-icon {
    border-radius: 50%;
    width: 30px;
  }

  .logo.small {
    max-height: 30px;
  }

  .nextjs::marker {
    color: black;
  }

  .tailwindcss::marker {
    color: #38bdf8;
  }

  .graphql::marker {
    color: #f6009b;
  }

  .wordpress::marker {
    color: #585c60;
  }

  @media screen and (max-width: 1300px) {
    main {
      padding: 3rem 3rem 3rem 3rem;
    }
  }

  @media screen and (max-width: 700px) {
    main {
      padding: 3rem 1rem 3rem 1rem;
    }

    .cols {
      display: flex;
      flex-direction: column-reverse;
    }
  }
</style>
