---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Monika Dybalska's development portfolio"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/md.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="background"
      width="100%"
      height="100%"
      viewBox="0 0 250 250"
      preserveAspectRatio="none"
    >
      <filter id="noiseFilter">
        <feTurbulence
          type="fractalNoise"
          baseFrequency="10"
          numOctaves="6"
          stitchTiles="stitch"></feTurbulence>
      </filter>
      <rect width="100%" height="100%" filter="url(#noiseFilter)"></rect>
    </svg>
    <Header />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Drogowskaz";
    src: url("/fonts/Drogowskaz_lekki_owalny.woff") format("woff");
    font-weight: light;
    font-style: normal;
    font-display: block;
  }

  @font-face {
    font-family: "Zaklad";
    src: url("/fonts/Zaklad-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }

  html {
    font-family: "Drogowskaz";
    color: #19150a;
    scroll-behavior: smooth;
  }

  /* #root {
    position: fixed;
    width: 100%;
    height: 100%;
  } */

  .background {
    position: fixed;
    background: linear-gradient(0deg, rgb(78, 35, 97), rgb(248, 245, 236));
    z-index: 50;
    opacity: 70%;
    isolation: isolate;
    mix-blend-mode: soft-light;
    pointer-events: none;
    /* width: 100%;
    height: 100%; */
    min-height: 100vh;
    min-width: 100vw;
  }

  body {
    margin: 0;
    overscroll-behavior-y: none;
  }

  * {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3 {
    font-family: "Zaklad";
    margin: 0;
    font-weight: normal;
    text-decoration: underline solid rgb(71, 209, 175);
  }

  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 1.17rem;
  }

  p {
    margin: 0;
  }

  a {
    text-decoration: none;
    color: black;
  }

  main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 10rem;
  }

  section {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-top: 5rem;
    margin-bottom: 5rem;
    gap: 3rem;
  }

  .about-text {
    width: 100%;
    max-width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .section-title {
    margin-bottom: 1rem;
  }

  .cols {
    flex-direction: column;
  }

  .label {
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
    background-color: rgb(71, 209, 175);
    width: fit-content;
    color: #19150a;
    border: #19150a 1px solid;
    text-transform: uppercase;
    font-size: 0.8rem;
    border-radius: 1rem;
    text-align: center;
  }

  .project-header {
    width: 100%;
  }

  @keyframes ripple {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }

  @media screen and (max-width: 1300px) {
    section {
      flex-direction: column;
      align-items: center;
      padding: 0 5rem 0 5rem;
    }

    .about-text {
      max-width: none;
    }
  }

  @media screen and (max-width: 700px) {
    section {
      flex-direction: column;
      padding: 0 2rem 0 2rem;
      margin-bottom: 2rem;
    }

    h1 {
      font-size: 3rem;
    }
  }

  @media only screen and (max-device-width: 480px) {
    html {
      height: calc(100% + 60px);
      min-height: calc(100% + 60px);
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slide-to-right {
    from {
      transform: translateX(-100%);
      opacity: 0;
    }
    to {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  @keyframes slide-to-left {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  @keyframes slide-down {
    from {
      transform: translateY(-100%);
      opacity: 0;
    }
    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  @keyframes slide-up {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slide-right {
    from {
      transform: translateX(-50%);
      opacity: 0;
    }
    to {
      transform: translateX(0%);
      opacity: 1;
    }
  }

  .slide-right {
    animation: slide-right ease-out 1000ms;
    animation-fill-mode: forwards;
  }

  .slide-to-right {
    animation: slide-to-right ease-out 1000ms;
    animation-fill-mode: forwards;
  }

  .slide-to-left {
    animation: slide-to-left ease-out 1000ms;
    animation-fill-mode: forwards;
  }

  .slide-down {
    animation: slide-down ease-out 1000ms;
    animation-fill-mode: forwards;
  }

  .slide-up {
    animation: slide-up ease-out 1000ms;
    animation-fill-mode: forwards;
  }

  .fade-in {
    animation: fade-in ease-out 1000ms;
    animation-fill-mode: forwards;
  }

  .delay-300 {
    animation-delay: 300ms;
  }

  .delay-600 {
    animation-delay: 600ms;
  }

  .delay-900 {
    animation-delay: 900ms;
  }

  .delay-1200 {
    animation-delay: 1200ms;
  }
</style>
