---
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout title="Monika Dybalska">
  <main>
    <slot />
  </main>
</BaseLayout>

<style>
  body {
    flex-grow: 1;
    display: block;
    overflow-y: scroll;
  }

  body,
  html {
    scroll-snap-type: y mandatory;
  }

  main {
    display: block;
    box-sizing: border-box;
  }
</style>
